body {
    background-color: #E5E5E5;
}

.header {
    background-color: #562EFF;
}

.header .navbar img {
    width: 50px;
}



.header .navbar .navbar-toggler {
    border: 1px solid white;
}

.header .navbar ul li a {
    padding: 0px;
    color: white !important;
    margin-right: 15px;
    line-height: 66px;
}

.main,
.course {
    background-color: white;
    width: 870px;
    margin: auto;
    border-radius: 15px;
}

/*top player*/
.top-player .row img {
    width: 56px;
}

.top-player-top-blog {
    width: 870px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: auto
}

hr {
    background: black;
}

.top-player h3,
.blog h3,
.course h3 {
    color: #562EFF;

}

/*blog*/
.blog .blog-card {
    box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.1);
    padding: 12px 10px;
    border-radius: 10px;
    margin: 10px 0;
}

.blog img {
    width: 40%;
}

.blog .row .blog-inner h4 {
    font-size: 20px;
    cursor: pointer;
}


.blog .row .blog-inner span {
    color: blue;
    cursor: pointer;
}

.blog .row .blog-inner div {
    padding: 5px;
}

/*card*/
.course .card .footer img {
    width: 20px;
}

.course .card .card-body {
    margin: 0;
    padding: 0px;
    ;
}

.course .card .card-body h5 {
    cursor: pointer;
}

.course .card {

    border: none;
    box-shadow: 0px 0 15px 10px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 15px 10px 28px 10px;
}

.course .card .author {
    color: #ED6B4F;
    cursor: pointer;

}


.course .card .footer {
    margin-top: 20px;
}

.course .card .footer .rating {
    margin: 0;
}

.course .card .footer .course-duration p {
    margin: 0;
    padding: 0;
}

.course .card .footer .course-duration {
    background: #FFE4E8;
    color: #FF4A60;
    border-radius: 14px;

}

/*footer*/
#footer .social-links {
    background-color: blue;
    background-color: #1C2955;
    padding: 15px;
    text-align: center
}

#footer .social-links img {
    width: 35px;
    background-color: white;
    padding: 3px;
    border-radius: 2px;
    margin: 0px 10px;
    cursor: pointer;
}

#footer .social-links img:hover {
    background-color: lavender;
}

#footer {
    background-color: #101045;
    color: white;
    height: 100%;

}

.footer .col-md-3 {
    padding: 0 19px
}

.footer hr {
    background: white
}

.footer .form input {
    margin-bottom: 5px;
}

.footer .form input,
textarea {
    background-color: #1C2855;
    border: none;
    color: white;
}

.footer .form textarea {
    padding-left: 10px;
    width: 100%;
}

.footer ::placeholder {
    color: white;
}

.footer .form .submit-btn {
    background-color: #1C2855;
    color: white;
    border: none;
    padding: 5px 15px;
    margin-left: 70%;
}

.footer .col-md-3 ul {
    list-style: none;
    padding: 0;
}

.footer .col-md-3 ul li {
    padding: 4px 0;
    cursor: pointer;
    transform: all 0.5s ease-in-out;
}

.footer .col-md-3 ul li:hover {
    border-bottom: 2px solid white;
    display: inline-block;
}

#footer .copywrite {
    text-align: center;
    padding: 50px;
    color: gray;
    font-size: 13px;
    margin: 0;
}

/*responsive*/

@media (max-width: 870px) {

    .main,
    .course {
        width: 90%;
    }

}

@media (max-width: 570px) {
    .header .navbar img {
        width: 35px;
    }

    .top-player h5 {
        font-size: 15px;
    }

    .top-player .row img {
        width: 45px;
        margin-right: 8px !important;
    }

    .blog .row img,
    .course .card-img-top img {
        width: 95%;
    }

    .main,
    .course {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .top-player h5 {
        font-size: 14px;
    }

    .top-player .row img {
        width: 43px;
        margin-right: 5px !important;
    }
}
